/* INICIO */

body {
    background-color: #e6ca70;
    background-image: linear-gradient(rgba(233, 222, 127, 0.6), rgba(0, 0, 0, 0.5)), url('img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-icon {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.navbar .btn-outline-success {
    margin-left: 10px; 
    border-radius: 20px; 
    border-width: 2px; 
}

/* Cambia los colores del botón 'Registrarse' */
.navbar .btn-outline-success:nth-child(1) {
    border-color: #d4d89a;
    color: #d4d89a; 
}

.navbar .btn-outline-success:nth-child(1):hover {
    background-color: #d4d89a; 
    color: #fff; 
}

/* Cambia los colores del botón 'Iniciar sesión' */
.navbar .btn-outline-success:nth-child(2) {
    border-color: #d4d89a; 
    color: #d4d89a; 
}

.navbar .btn-outline-success:nth-child(2):hover {
    background-color: #d4d89a; 
    color: #fff; 
}

.encabezado {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 120px 0;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5); /* Añade sombra al texto */
    font-family: 'Arial', sans-serif; /* Cambia la fuente a una más estilizada */
    font-size: 3.2em; /* Aumenta el tamaño de la fuente */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('img/joseph.jpg');
    background-size: auto 78%; /* Ajusta el tamaño de la imagen para que cubra solo la mitad de la altura */
    background-repeat: repeat-x;
    background-position: center; /* Centra la imagen */
}

.boton{
    border-color: #d4d89a; /* Color del borde */
    color: #d4d89a; /* Color del texto */
    border-radius: 20px; /* Botones redondeados */
    border-width: 2px; /* Grosor del borde */
}

.carrusel .img-carrusel {
    width: auto;
    height: 500px; /* Ajusta la altura según sea necesario */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse */
    margin: auto;
}

.carousel-caption a.carousel-link {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

.carousel-caption a.carousel-link h5,
.carousel-caption a.carousel-link p {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.carousel-caption a.carousel-link:hover h5,
.carousel-caption a.carousel-link:hover p {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro al pasar el cursor */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    text-align: center;
}

.carousel-caption a.carousel-link h5 {
    font-size: 2.5em; /* Tamaño del título más grande */
}

.carousel-caption a.carousel-link p {
    font-size: 1.5em; /* Tamaño de la descripción más grande */
}

.carousel-control-custom {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.features-container {
    background-color: #83763d;
    padding: 20px 20px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    font-size: 3em;
    color: #ffc107;
}

.feature h3 {
    font-size: 1.75em;
    margin-top: 15px;
}

.feature p {
    font-size: 1.1em;
    color: #ffffff;
}

footer {
    background-color: #242525;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h4{
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebe59c;
    
}

h6{
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b6a55b;
    background-position: 100%;
    background-size: auto;
}

/* SOLICITUD AYUDA */

.field {
    margin-bottom: 20px;
  }
  
  .field label {
    padding-top: 20px;
    display: block;
    font-size: 20px;
    color: #000000;
  }
  
  .field input {
    margin-left: 2px;
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
  }

/* REGISTRO */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}                                                   /*valores iniciales en 0*/


.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;                      /*100vh es el 100% de alto */
}

.form {
    width: 450px;
    background-color: #d4d89a;
    padding: 50px;
    border-radius: 20px;
    margin-top: 10px;
}

h3{
    font-size: 2rem !important;
    font-weight: 700;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; /*fuente */
}


/* JUEGO DE MONEDA */

#coin-container {
    text-align: center;
    margin-top: 50px;
}

#coin {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    animation: spin 1s linear forwards;
    display: none; /* Ocultar la moneda al principio */
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(720deg); }
}

#coin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #FFD700; /* Cara */
}

#result, #balance {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

#buttons {
    text-align: center;
    margin-top: 20px;
}

#buttons button {
    padding: 10px 20px;
    background-color: #d4d89a;
    border:#131313;
    border-radius: 5px;
    color: #131313;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

#buttons button:focus {
    outline: none;
}

.heads::before {
    transform: rotateY(0deg);
}

.tails::before {
    transform: rotateY(180deg);
}
