body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .jumbotron {
    background-image: url('https://via.placeholder.com/1500x500');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 120px 0;
  }
  
  .feature {
    padding: 20px;
    text-align: center;
  }
  
  .feature-icon {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  .navbar {
    background: linear-gradient(to right, #1c1c1c, #383838); /* Fondo degradado */
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff; /* Color del texto */
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #ffc107; /* Color del texto al pasar el cursor */
  }
  .jumbotron {
    background-image: url('ruta/a/la/imagen.jpg'); /* Cambia 'ruta/a/la/imagen.jpg' por la URL de tu imagen */
    background-size: cover;
    background-position: center;
    color: #030303; /* Color del texto */
    text-align: center;
    padding: 100px 0; /* Ajuste del espacio interno */
  }
  
  .jumbotron h1 {
    font-size: 3.5rem; /* Tamaño del título */
  }
  
  .jumbotron p {
    font-size: 1.5rem; /* Tamaño del texto */
  }
  .feature {
    background-color: #afadad; /* Color de fondo */
    padding: 40px;
    text-align: center;
    margin-bottom: 30px; /* Espacio entre las características */
  }
  
  .feature-icon {
    font-size: 3rem; /* Tamaño del icono */
    color: #007bff; /* Color del icono */
  }
  
  .feature h3 {
    margin-top: 20px; /* Espacio superior del título */
  }
  
  .feature p {
    font-size: 1.1rem; /* Tamaño del texto */
  }
      